In [3]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

df = pd.read_csv(r"large_ecommerce_dataset.csv")

df.head()

## Data cleaning



df.isnull().sum()

df.dropna()

df.drop_duplicates()

df.head()

## Analysis start

# Total_revenue

Total_revenue = df["net_revenue"].sum()

Total_revenue

# Total_orders

Total_orders = df["order_id"].nunique()

Total_orders

# Average order value

Aov = Total_revenue / Total_orders

Aov

# Return orders

return_rate = (df['is_return'].sum() / Total_orders) * 100

return_rate


#cod orders

cod_rate = (df[df['payment_method']==("COD")].shape[0] / Total_orders) * 100

cod_rate


# state wise revenue

state_revenue = df.groupby("state")["net_revenue"].sum().sort_values(ascending=False)

state_revenue

# category wise revenue

category_revenue = df.groupby("product_category")["net_revenue"].sum().sort_values(ascending=False)

category_revenue


# monthly revenue

monthly_revenue = df.groupby("order_month")["net_revenue"].sum().sort_values(ascending=False)

monthly_revenue


# Payment method

payment_method = df.groupby("payment_method")["net_revenue"].value_counts(normalize=True)*100

payment_method

# return rate per category

rrc = df.groupby("product_category")["is_return"].value_counts(normalize=True)*100
rrc

product_category  is_return
Beauty            0.0          95.958774
                  1.0           4.041226
Books             0.0          97.773065
                  1.0           2.226935
Electronics       0.0          87.255848
                  1.0          12.744152
Fashion           0.0          89.114247
                  1.0          10.885753
Grocery           0.0          96.667624
                  1.0           3.332376
Home & Kitchen    0.0          92.527076
                  1.0           7.472924
Sports            0.0          94.074394
                  1.0           5.925606
Toys              0.0          95.074491
                  1.0           4.925509
Name: proportion, dtype: float64